// Using `div >` is to override the original `Card` padding.
div > .DocumentEditor {
  @include display(flex);
  @include flex-flow(column wrap);
  font-weight: 400;
  height: 100%;
  width: 400px;

  &-title-input {
    @include flex-grow(0);
    border: none;
    font-size: 24px;
    outline: none;
    margin-bottom: 12px;
    padding: 8px;
    width: 100%;
  }
  &-content-input {
    // This stretches the body input to the rest of the room of the editor
    @include flex-grow(1);
    height: auto;
    padding: 8px 16px;
      // Mock Placeholder
    &:empty:before {
      content: 'Start typing here...';
      color: $placeholder-color;
    }
  }

}