// Using `div >` is to override the original `Card` padding.
.DocumentViewer {
  @include display(flex);
  @include flex-direction(column);
  width: 400px;
  overflow-y: scroll;
  &-title {
    font-weight: 500;
    font-size: 24px;
    margin-top: 0;
    padding: 0 8px;
  }
  &-body {
    @include flex-grow(1);
    cursor: default;
    outline: none;
    padding: 0 12px;
  }
}