// Using `div >` is to override the original `Card` padding.
div > .DocumentEditor {
  position: relative;
  font-weight: 400;
  min-height: 100%;
  width: 400px;
  overflow-y: scroll;

  &-title-input {
    border: none;
    display: block;
    font-size: 24px;
    outline: none;
    margin-bottom: 12px;
    padding: 8px;
    width: 100%;
  }

  &-content-input {
    display: block;
    height: auto;
    width: 100%;
    padding: 8px 16px;
      // Mock Placeholder
    &:empty:before {
      content: 'Start typing here...';
      color: $placeholder-color;
    }
  }

}
