.exit-form-icon-wrapper {
  @extend .transition;
  position: absolute;
  right: 1rem;
  top: 0.6rem;
  color: $text-color-light;
  &:hover {
    cursor: pointer;
    color: $primary-brand-color;
  }
}