.FileConverter {
  position: relative;
  margin: 12px 0;
  height: 40px;
  width: 100%;

  &-label {
    @extend .transition;
    border: 1px dashed $placeholder-color;
    color: $placeholder-color;
    text-align: center;
    padding: 12px;
  }

  &-label,
  &-input {
    @extend .center-absolute;
    width: 100%;
    &:hover {
      cursor: pointer;
    }
  }

  &-input {
    // Shifts the input field left so it is more centereds
    opacity: 0;
  }  
}