.file-uploader-wrapper {
  position: relative;
  
  .dropzone {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 100px;
    width: 100px;
    border: 2px dashed $text-color;
    p {
      @include position-center(absolute, 48%, 50%);
      height: 80px;
      width: 80px;
      font-size: 0.8rem;
      text-align: center;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .file-preview {
    position: relative;
    display: inline-block;
    margin-left: 1.5rem;
    h4 {
      margin: 0;
    }
    .file-preview-list {
      position: relative;
      list-style: none;
      padding-left: 0;
      .file-preview-item {
        position: relative;
        margin: 0.25rem 0;
        .file-icon {
          position: relative;
          display: inline-block;
          vertical-align: top;
          width: 20px;
          height: 20px;
          margin-right: 0.5rem;
        }
        .file-name {
          position: relative;
          display: inline-block;
          margin: 0 0.5rem 0 0;
        }
        .remove-file-icon {
          position: relative;
          display: inline-block;
          svg {
            color: $light-text-color;
            &:hover {
              cursor: pointer;
              color: $text-color;
            }
          }
        }
      }
    }
  }

}