.FormSidebar {
  @include display(flex);
  @include flex-direction(column);
  position: relative;
  min-width: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 12px $form-sidebar-footer-height 12px;
  &-left {
    margin-right: 20px;
  }
  &-right {
    margin-left: 20px; 
  }
}