.FormSidebarPlaceholderInput {
  &-title {
    font-size: 16px;
  }
  // Removes top padding and margin to reduce space gap
  &-input-wrapper {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    margin: 10px 0;
    padding-top: 0;
  }
  &-input {
    margin: 0 auto;
  }
  // List of placeholders
  &-placeholders {
    padding-left: 0;
    overflow-y: scroll;
    max-height: 200px;
    &-required {
      @include display(flex);
      @include justify-content(space-between);
      @include align-items(center);
      padding: 16px;
      &-text {
        @extend .transition;
        color: $text-color-light;
        font-style: italic;
        font-size: 12px;
        &-icon {
          margin-top: -2px;
          margin-right: 3px;
        }
        &:hover {
          color: $placeholder-color;
          cursor: pointer;
        }
      }
    }
    &-placeholder {
    }
  }

  // Tip box
  &-placeholder-tip {
    color: $placeholder-color;
    margin: 12px auto;
    text-align: center;
    &-icon {
      margin-top: -5px;
      margin-right: 8px;
    }
  }
}