.FormSidebarPlaceholderInput.ui-List {
  margin: 0;
}

.FormSidebarPlaceholderInput {
  // Removes top padding to reduce space gap
  &-item.List {
    padding-top: 0;
  }
  &-item {
    position: relative;
    // Removes top padding and margin to reduce space gap
    &-input-wrapper {
      @include display(flex);
      @include align-items(center);
      @include justify-content(center);
      margin-top: 0;
      padding-top: 0;
      margin-bottom: 20px;
    }
    &-input {
      margin: 0 auto;
    }
  }
  &-placeholder-tip {
    color: $placeholder-color;
    margin: 12px auto;
    text-align: center;
    &-icon {
      margin-top: -5px;
      margin-right: 8px;
    }
  }
}