.full-screen-modal-wrapper {
  @include modal-background;
  .modal-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $modal-background-color;
  }
}