.app-header-wrapper {
  position: relative;
  padding: 0;
  margin: 0;
  background-color: $primary-brand-color;
  height: 70px;
  .logo {
    font-size: 1.8rem;
    font-weight: 600;
    color: #FFF;
  }
}