.CollectionsIndex {

  &-create-template {
    font-size: 18px;
    text-align: center;
    &-message {
      line-height: 25px;
      margin-bottom: 20px;
    }
  }

  &-folders {
    &-folder {
      margin: 20px;
      position: relative;
      &-main {
        position: relative;
        &-create-icon {
          @extend .center-absolute;
          color: #FFF;
        }
        &-options {
          background-color: red;
        }
      }
    }
  }

}