.CollectionsShow {
  &-header {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    &-options {
      &-create-button {
        position: relative;
        display: inline-block;
        margin-right: 20px; 
      }
    }
  }
}