.CollectionsShow {

  &-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    &-options {
      &-create-button {
        position: relative;
        display: inline-block;
        margin-right: 20px;
      }
    }
  }

  &-documents {
    @extend .grid-view;
  }

}
