.ui-ClickableIcon {
  @extend .transition;
  background-color: transparent;
  color: $placeholder-color;
  border: none;
  outline: none;
  padding: 0;
  &:hover {
    color: $primary-brand-color;
  }
  &-white {
    color: #FFF;
    &:hover {
      color: #FFF;
    }
  }
}