.ui-DropdownOptions {
  @include animation(fade-in 200ms ease);
  @include display(flex);
  @include flex-direction(column);
  background-color: $form-background-color;
  padding: 10px 0;
  &-item {
    background-color: inherit;
    border: none;
    color: $text-color-light;
    display: block;
    height: 30px;
    outline: none;
    padding: 5px 8px;
    text-align: left;
    &:hover {
      background-color: #FFF;
      color: $primary-brand-color;
    }
  }
}