$main-folder-color: $brand-color-blue-light;
$secondary-folder-color: $brand-color-blue-lighter;

.ui-FolderCard {
  @include display(flex);
  @include flex-direction(column);
  &-tab {
    height: 15%;
    position: relative;
    &-left, &-right {
      @extend .box-shadow;
      position: absolute;
    }
    &-left {
      background-color: $secondary-folder-color;
      left: 0;
      height: 100%;
      width: 58%;
    }
    &-right {
      background-color: $main-folder-color;
      bottom: 0;
      right: 0;
      height: 70%;
      width: 53%;
    }
  }
  &-main {
    box-shadow: 0 4px 8px 0 rgba(87, 71, 81, 0.2);  
    background-color: $main-folder-color;
    height: 85%;
    width: 100%;
    padding: 8px;
    z-index: 1;
  }
}