.ui-HorizontalNavbar {
  position: relative;
  background-color: $navbar-background-color;
  border-bottom: 1px solid $border-color;
  line-height: 45px;
  height: 45px;
  margin: 0 auto;
  width: 100%;
  &-content {
    position: relative;
    list-style: none;
    margin: 0 auto;
    padding: 0 2rem;
    min-width: $app-content-min-width;
    max-width: $app-content-max-width;

    &-item {
      position: relative;
      margin-right: 1.6rem;
      display: inline-block;
      &-link {
        @extend .transition;
        color: $navbar-text-color;
      }
      &-link-active {
        color: $navbar-active-text-color;
        font-size: 1.1rem;
      }
    }
  }

}