.ui-HorizontalNavbar {
  background-color: $navbar-background-color;
  border-bottom: 1px solid $border-color;
  height: $horizontal-navbar-height;
  line-height: $horizontal-navbar-height;
  position: relative;
  width: 100%;
  z-index: 2;

  &-content {
    position: relative;
    list-style: none;
    margin: 0 auto;
    padding: 0 20px;
    &-link {
      color: $navbar-text-color;
      display: inline-block;
      margin-right: 1.6rem;
      position: relative;
      text-decoration: none;
    }
    &-link-active {
      color: $navbar-active-text-color;
      font-size: 1.1rem;
    }
  }

}
