$ui-input-font-size: 1rem;

.ui-Input {
  position: relative;
  font-size: $ui-input-font-size;
  & svg {
    margin: -5px 8px 0 0;
  }
  &-input-field {
    position: relative;
    background-color: inherit;
    height: 100%;
    width: 100%;
  }
}