.ui-ModalWrapper {
  // Unblurs only the modal contents
  // @include filter(sharpen(10px));

  @include transform(translate(-50%, -50%));
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 9;
}