.Overlay {
  // this makes the overlay the entire room of the browser window
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 150ms ease, visibility 0ms ease 150ms;
  z-index: 9;
  // the background of the overlay that adds the tint,
  // also allows the user to exit the modal by clicking anywhere beside the modal content
  &-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $overlay-background-color;
  }

}


// Prevents the page from scrolling. This is added to the `body` when the `Overlay` component is mounted
.noscroll {
  overflow: hidden;
}