@include keyframes(fade-in-modal) {
  from { background-color: transparent; }
  to { background-color: $overlay-background-color; }
}

.ui-Overlay {
  // this makes the overlay the entire room of the browser window
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8;
  // the background of the overlay that adds the tint,
  // also allows the user to exit the modal by clicking anywhere beside the modal content
  &-background {
    @include animation(fade-in-modal 500ms ease);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $overlay-background-color;
  }

}


// This is added to the `body` when the `Overlay` component is mounted
.noscroll {
  // Prevents the page from scrolling.
  overflow: hidden;
}