.ui-Pill {
  border-radius: $border-radius;
  color: #FFF;
  padding: 4px 6px;
  margin: 4px;
  &-blue {background-color: $brand-color-blue;}
  &-green {background-color: $brand-color-green;}
  &-red {background-color: $brand-color-red;}
  &-yellow {background-color: $brand-color-yellow;}
  &-gray {
    background-color: rgba(0, 0, 0, 0.1);
    color: $text-color;
  }
  &-strike {
    text-decoration: line-through;
  }
}