.ui-SearchBar {
  position: relative;
  display: inline-block;
  svg {
    position: relative;
    margin-right: 0.5rem;
    color: $text-color-light;
  }
  .search-focus {
    color: $primary-brand-color;
  }
  input {
    @include input-field-style;
    height: 33px;
    width: 170px;
  }
}