.ui-TipBox {
  position: relative;
  &-left {text-align: left;}
  &-center {text-align: center;}
  &-right {text-align: right;}
  &-light {color: $placeholder-color;}
  &-dark {color: $text-color-light;}
  &-header {
    &-left {text-align: left;}
    &-center {text-align: center;}
    &-right {text-align: right;}
    position: relative;
    margin-bottom: 0.75rem;
    &-icon {
      margin-top: -4px;
      margin-right: 12px;
    }
    &-title {
      font-weight: 500;
    }
  }
  &-body {
    position: relative;
  }
}