@import '../../../scss/colors.scss';
@import '../../../scss/dimensions.scss';
@import '../../../scss/extends.scss';

.main {
  background-color: $brand-color-yellow;
  color: #FFF;
  height: $app-header-height;
  margin: 0;
  padding: 10px 20px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;

  // This is so that certain AppHeader elements such as DropdownOptions are infront of the any Dashboard item
  z-index: 2;
}

.logo {
  cursor: pointer;
  margin: 0;
}

.nav {
  align-items: center;
  display: flex;
}

.profilePic {
  width: 30px;
  height: 30px;
  border-radius: $border-radius;
  vertical-align: middle;
  margin-right: 1rem;
}

// TODO: Remove the double name specificity when I figure out the UI Components bug
// that doesn't allow current class names to take specificity
.profileName.profileName {
  color: #FFF;
  margin-right: 1rem;
}
