@import '../../../scss/colors.scss';
@import '../../../scss/dimensions.scss';
@import '../../../scss/extends.scss';

.main {
  background-color: $white;
  border-bottom: 3px solid $brand-secondary-lighter;
  color: #FFF;
  height: $app-header-height;
  margin: 0;
  padding: 10px 20px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;

  // This is so that certain AppHeader elements such as DropdownOptions are infront of the any Dashboard item
  z-index: 2;
}

// TODO: Remove when UI-Components error is fixed
.logo.logo {
  color: $brand-secondary;
  cursor: pointer;
  margin: 0;
  &:hover {
    color: $brand-tertiary-light;
  }
}

.nav {
  align-items: center;
  display: flex;
}

.popover {
  border: 3px solid #E6E6E6;
  border-top-width: 0;
  // To override existing Material UI inline styles
  border-radius: 0 !important;
  box-shadow: none !important;
}

.profilePic {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 8px;
}

// TODO: Remove the double name specificity when I figure out the UI Components bug
// that doesn't allow current class names to take specificity
.profileName.profileName {
}
