.chat-window-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 28%;
  margin: -1rem 0 0 0;
  padding: 1rem 1rem 0 1rem;
  border-left: 1px solid $border-color;
  .messages-section {
    position: relative;
    padding-bottom: 2rem;
  }
  .input-section {
    position: fixed;
    bottom: 1rem;
    height: 30px;
    img {
      position: relative;
      display: inline-block;
      margin-right: 1.5rem;
      border-radius: $border-radius;
      height: 30px;
      width: 30px;
    }
    input {
      position: relative;
      display: inline-block;
      vertical-align: top;
      height: 100%;
      border-radius: $border-radius;
      padding: 0.3rem;
      border-style: none;
      -webkit-box-shadow: 0 0 3px $box-shadow-color;
      box-shadow: 0 0 3px $box-shadow-color;
      outline: none;
    }
  }
}