.new-timesheet-form-wrapper {
  @include position-center(absolute, 50%, 50%);
  @include box-shadow;
  
  // set mins so the form doesnt collapse when we show loading bar/finish screen
  width: 700px;
  height: 450px;

  background-color: $form-background-color;
  padding: 1rem 3rem 3rem 3rem;
  .exit-icon-wrapper {
    @include transition;
    position: absolute;
    right: 1rem;
    top: 0.6rem;
    color: $light-text-color;
    &:hover {
      cursor: pointer;
      color: $primary-brand-color;
    }
  }
  .form-title {
    @include text-shadow;
    position: relative;
    margin: 0.5rem 0 1.5rem 0;
  }
  .subform {
    position: relative;
    display: inline-block;
    padding: 1rem;
  }
  .subform-left {
    vertical-align: top;
    width: 40%;
  }
  .subform-right {
    width: 60%;
  }
  .clear-form-button {
    @include link-style;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }
}