.post-timesheet-submission-view-wrapper {
  @include position-center(absolute, 40%, 50%);
  text-align: center;
  width: 100%;
  svg {
    color: $secondary-brand-color;
  }
  h2 {
    position: relative;
    margin-bottom: 2rem;
  }
  p {
    position: relative;
    margin-bottom: 3rem;
  }
  .button {
    position: absolute;
  }
}