.timesheet-handler-wrapper {
  position: relative;
  margin: 2.5rem 2rem;
  .new-timesheet-button-wrapper {
    @include pull-left-relative(15%);
    text-align: right;
  }
  .previous-timesheets-wrapper {
    @include pull-right-relative(85%);
  }
}