.timesheet-handler-wrapper {
  position: relative;
  margin: 4rem 2rem;
  .new-timesheet-button-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    width: 25%;
    text-align: right;
  }
  .previous-timesheets-wrapper {
    position: relative;
    display: inline-block;
    margin: 0;
    width: 75%;
  }
}