// VIEWPORT MIXINS

@mixin mobile-viewport {
  @media (max-width: 550px) {
    @content;
  }
}

@mixin medium-viewport {
  @media (min-width: 551px) and (max-width: 1000px) {
    @content;
  }
}


//  MIXINS

@mixin position-center($position, $top, $left) {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: $position;
  top: $top;
  left: $left;
}

@mixin position-x($position, $left) {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  position: $position;
  left: $left;
}

@mixin position-y($position, $top) {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: $position;
  top: $top;
}

@mixin brightness($percentage, $blur) {
  -webkit-filter: brightness($percentage) blur($blur);
  -moz-filter: brightness($percentage) blur($blur);
  -ms-filter: brightness($percentage) blur($blur);
  -o-filter: brightness($percentage) blur($blur);
  filter: brightness($percentage) blur($blur);
}