// VARIABLES

$app-header-height: 70px;

$border-radius: 3px;


// VIEWPORT MIXINS

@mixin mobile-viewport {
  @media (max-width: 550px) {
    @content;
  }
}

@mixin medium-viewport {
  @media (min-width: 551px) and (max-width: 1000px) {
    @content;
  }
}


//  MIXINS

@mixin span($columns) {
  @include span-columns($columns);
  margin-left: 0;
  margin-right: 0;
}

@mixin position-center($position, $top, $left) {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: $position;
  top: $top;
  left: $left;
}

@mixin position-x($position, $left) {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  position: $position;
  left: $left;
}

@mixin position-y($position, $top) {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: $position;
  top: $top;
}

@mixin brightness($percentage, $blur) {
  -webkit-filter: brightness($percentage) blur($blur);
  -moz-filter: brightness($percentage) blur($blur);
  -ms-filter: brightness($percentage) blur($blur);
  -o-filter: brightness($percentage) blur($blur);
  filter: brightness($percentage) blur($blur);
}

@mixin input-focus-style {
  border: 1px solid $input-focus-border-color;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

@mixin label-style {
  color: darken($primary-brand-color, 10%);
  padding: 1.5rem 0 0.5rem 0;
  margin: 0;
}

@mixin select-field-style {
  border-radius: 3px;
  border-style: none;
  -webkit-box-shadow: 0 0 3px $box-shadow-color;
  box-shadow: 0 0 3px $box-shadow-color;
  outline: none;
  background-color: #FFF;
  height: 32px;
  font-size: 1.1rem;
}

@mixin input-field-style {
  border-radius: 3px;
  border-style: none;
  -webkit-box-shadow: 0 0 3px $box-shadow-color;
  box-shadow: 0 0 3px $box-shadow-color;
  outline: none;
  background-color: #FFF;
  padding: 0.3rem;
  font-size: 1.1rem;
  &:focus {
    @include input-focus-style;
  }
}

@mixin bw-icon-style {
  color: $placeholder-color;
  &:hover {
    cursor: pointer;
    color: $light-text-color;
  }
}

@mixin icon-style {
  color: $primary-brand-color;
  &:hover {
    cursor: pointer;
    color: $secondary-brand-color;
  }
}

@mixin link-style {
  @extend .transition;
  color: $navbar-text-color;
  &:hover {
    cursor: pointer;
  }
}

@mixin modal-form-style {
  @include position-center(absolute, 50%, 50%);
  @extend .box-shadow;
  
  // set mins so the form doesnt collapse when we show loading bar/finish screen
  min-width: 700px;
  min-height: 450px;
  max-height: 90vh;
  max-width: 90vw;
  overflow-x: none;
  overflow-y: auto;

  background-color: $form-background-color;
  padding: 1.5rem 3rem 3rem 3rem;
}

@mixin pull-left-relative($percentage) {
  position: relative;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  width: $percentage;
}

@mixin pull-right-relative($percentage) {
  position: relative;
  margin: 0;
  display: inline-block;
  width: $percentage;
}