$primary-brand-color: #68C3A3;
$secondary-brand-color: #4DAF7C;
$tertiary-brand-color: #C36888;
$white: whitesmoke;

$text-color: #282828;
$light-text-color: #777;
$placeholder-color: lighten(#666666, 25%);

$box-shadow-color: lighten(#282828, 20%);

$modal-background-color: rgba(0,0,0,0.6);

$border-color: #DADADA;

$navbar-background-color: whitesmoke;
$navbar-text-color: lighten(#888, 15%);
$navbar-active-text-color: #888;

$form-background-color: whitesmoke;
$card-background-color: whitesmoke;

$error-color: #E74C3C;

$input-focus-border-color: #66afe9;

// Tip Box
$tip-box-background: whitesmoke;

// INPUT
$ui-input-label-color: rgba(0, 0, 0, 0.26);
$ui-input-error-color: $error-color;
$ui-input-focus-background-color: green;

// BUTTON
$ui-button-background-color: $primary-brand-color;
$ui-button-color: #FFF;