// BRAND COLORS
$brand-color-green: #4DCF86;
$brand-color-green-dark: #2EBD6C;
$brand-color-green-darker: #0BAF52;
$brand-color-green-light: #75E1A4;
$brand-color-green-lighter: #A8F0C7;

$brand-color-blue: #4E9CC2;
$brand-color-blue-dark: #3082AA;
$brand-color-blue-darker: #116E9B;
$brand-color-blue-light: #75B8D8;
$brand-color-blue-lighter: #A9D6EC;

$brand-color-yellow: #FFB55F;
$brand-color-yellow-dark: #FFA53E;
$brand-color-yellow-darker: #F58A0F;
$brand-color-yellow-light: #FFC684;
$brand-color-yellow-lighter: #FFDBB2;

$brand-color-red: #FF805F;
$brand-color-red-dark: #FF663E;
$brand-color-red-darker: #F53F0F;
$brand-color-red-light: #FF9E84;
$brand-color-red-lighter: #FFC2B2;

$error-color: #CF000F;
$text-color: #212121;
$text-color-light: #777;


$primary-brand-color: #68C3A3;
$primary-brand-color-dark: darken(#68C3A3, 10%);
$primary-brand-color-light: lighten(#68C3A3, 10%);

$secondary-brand-color: $brand-color-blue;

$tertiary-brand-color: #FFB55F;
$tertiary-brand-color-dark: darken(#FFB55F, 10%);
$tertiary-brand-color-light: lighten(#FFB55F, 10%);


$placeholder-color: lighten(#666666, 25%);

$box-shadow-color: lighten(#282828, 20%);

$border-color: #DADADA;

$navbar-background-color: whitesmoke;
$navbar-text-color: lighten(#888, 15%);
$navbar-active-text-color: #888;

$form-background-color: whitesmoke;
$card-background-color: whitesmoke;


$input-focus-border-color: #66afe9;

// Tip Box
$tip-box-background: whitesmoke;


// BUTTON
$ui-button-disabled-background-color: rgb(229, 229, 229);
$ui-button-disabled-color: rgb(127, 127, 127);
$ui-button-color: #FFF;


// CARD
$ui-card-background-color: #FFF;


// OVERLAY
$overlay-background-color: rgba(0, 0, 0, 0.6);


// INPUT
$ui-input-label-color: rgba(0, 0, 0, 0.26);
$ui-input-error-color: $error-color;
$ui-input-border-bottom-color: rgba(0, 0, 0, 0.26);
$ui-input-border-bottom-focus-start-color: $brand-color-blue-darker;
$ui-input-border-bottom-focus-end-color: $brand-color-blue-light;