$app-content-min-height: 600px;
$app-content-min-width: 900px;
$app-content-max-width: 1200px;
$app-header-height: 60px;

$border-radius: 3px;

$form-sidebar-footer-height: 60px;

$modal-footer-height: 60px;

$horizontal-navbar-height: 45px;

$input-field-width: 275px;

// Breakpoints
$mobile: new-breakpoint(max-width 600px);
$tablet: new-breakpoint(min-width 601px max-width 1000px);
$laptop: new-breakpoint(min-width 1001px max-width 1300px);
$desktop: new-breakpoint(min-width 1301px);