.transition {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button-shadow {
  box-shadow: -2px 3px 11px -3px rgba(0,0,0,0.75);
}

.box-shadow {
  box-shadow: -1px 0px 18px -2px rgba(0,0,0,0.75);
}

.text-shadow {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}