.center-absolute {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%);
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.grid-view {
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.transition {
  @include transition(all 200ms ease);
}

.link {
  @extend .transition;
  color: $placeholder-color;
  text-decoration: underline;
  &:hover, &:active, &:focus {
    color: $brand-color-blue-dark;
    cursor: pointer;
    text-decoration: underline;
  }
}

.button-shadow {
  box-shadow: -2px 3px 11px -3px rgba(0,0,0,0.75);
}

.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(87, 71, 81, 0.3);  
}

.text-shadow {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
