@mixin animate($animationName) {
  -webkit-animation: #{$animationName};
  -moz-animation: #{$animationName};
  -o-animation: #{$animationName};
  -webkit-animation: #{$animationName};
}

@mixin keyframes($animation) {
  @-webkit-keyframes #{$animation} {
    @content;
  }
  @-moz-keyframes #{$animation} {
    @content;
  }
  @-o-keyframes #{$animation} {
    @content;
  }
  @keyframes #{$animation} {
    @content;
  }
}

@mixin translate-pos($posY, $posX) {
  @include transform(translate(-50%, -50%));
  top: $posY;
  left:  $posX
}

@mixin translate-center {
  @include transform(translate(-50%, -50%));
  top: 50%;
  left: 50%;
}