// normalize.css
@import '../../.././node_modules/normalize.css/normalize.css';

// my own SCSS helper file
@import './clarity';

// App
@import './app/AppHeader';
@import './app/AppFooter';

// Date
@import './date/DateNavbar';

// Timesheet
@import './timesheet/TimesheetHandler';
@import './timesheet/NewTimesheetForm';
@import './timesheet/PostTimesheetSubmissionView';
@import './timesheet/PreviousTimesheets';
@import './timesheet/TimesheetCard';
@import './timesheet/NewTimesheetButton';

// Shared
@import './shared/SelectBox';
@import './shared/FullScreenModal';
@import './shared/TextField';
@import './shared/InputField';
@import './shared/InputFieldLabel';
@import './shared/TimeTrackerField';
@import './shared/Spinner';
@import './shared/ExitFormIcon';

html {
  position: relative;
  height: 100vh;
}

body {
  position: relative;
  box-sizing: border-box;
  color: $text-color;
  font-family: 'Lucida Sans Unicode', helvetica, sans-serif;
  min-width: 1000px;
  height: 100%;
  font-weight: 400;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  @include medium-viewport {
    font-size: 0.95em;
  }
  @include mobile-viewport {
    font-size: 0.87em;
  }
}

#app {
  padding-bottom: 200px;
  min-height: 100%;
  height: auto;
}

*, *:before, *:after {
  box-sizing: inherit;
  a {
    text-decoration: none;
    &:hover, &:focus, &:active, &:visited {
      text-decoration: none;
    }
  }
}

// CLASSES

.active {
  color: $secondary-brand-color;
}

.button {
  @include text-shadow;
  @include button-style;  
  @include position-x(relative, 50%);
}

.inactive-button {
  background-color: lighten($light-text-color, 10%);
  &:hover {
    box-shadow: none;
    cursor: default;
  }
}

.invisible {
  color: transparent;
}

.no-scroll {
  position: fixed !important;
  overflow: hidden !important;
}

.content-container {  
  position: relative;
  margin: 0 auto;
  width: 900px;
}

.title {
  position: relative;
  margin: 2rem auto;
  font-size: 2rem;
  color: $primary-brand-color;
  text-align: center;
}

.link {
  @include text-shadow;
  position: relative;
  text-decoration: none;
}

.pull-left {
  @include position-y(absolute, 50%);
  left: 3rem;
}

.pull-right {
  @include position-y(absolute, 50%);
  right: 3rem;
}