// Roboto font
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500|Indie+Flower);

// Bourbon for Node.js
@import '~bourbon/app/assets/stylesheets/_bourbon.scss';

// Normalize.css
@import '~normalize.css/normalize.css';

// Medium Rich Text Editor
@import '~medium-editor/dist/css/medium-editor.css';

// Import dimesions variables
@import './dimensions';

// Import color variables
@import './colors';

// Import extends
@import './extends';

// my own SCSS helper file
@import './clarity';

// App
@import './app/AppContentWrapper';
@import './app/AppHandler';

// Auth
@import './auth/LoginForm';
@import './auth/RegistrationForm';

// Collections
@import './collections/CollectionsIndex';
@import './collections/CollectionsShow';
@import './collections/CollectionPreviewCard';

// Dashboard
@import './dashboard/DashboardContentBody';
@import './dashboard/DashboardContentHeader';
@import './dashboard/DashboardContentWrapper';
@import './dashboard/DashboardHandler';
@import './dashboard/DashboardHeader';
@import './dashboard/DashboardMessage';
@import './dashboard/DashboardQuote';

// Documents
@import './documents/DocumentCard';
@import './documents/DocumentsNew';
@import './documents/DocumentsNewChooseTemplateView';
@import './documents/DocumentsNewEditorView';

// Modals
@import './modals/ModalConfirm';
@import './modals/ModalDocumentPreview';
@import './modals/ModalFillPlaceholders';
@import './modals/ModalPlaceholderTipBox';
@import './modals/ModalSection';

// Templates
@import './templates/TemplateEditorView';
@import './templates/TemplatesIndex';
@import './templates/TemplateCard';
@import './templates/TemplateCardPreviewEdit';
@import './templates/TemplateCardPreviewSelect';

// Shared
@import './shared/DashboardSpinner';
@import './shared/DocumentEditor';
@import './shared/DocumentViewer';
@import './shared/FileUploader';
@import './shared/FormSidebar';
@import './shared/FormSidebarBody';
@import './shared/FormSidebarFooter';
@import './shared/FormSidebarPlaceholderInput';
@import './shared/FormSidebarSection';
@import './shared/FormSidebarSectionAddSigner';
@import './shared/FormSidebarSectionFillGeneralPlaceholders';
@import './shared/FormSidebarSectionMessage';
@import './shared/FormSidebarSectionTitle';
@import './shared/FormSidebarTitle';
@import './shared/Logo';
@import './shared/Quote';
@import './shared/RichTextEditor';

// UI Components
@import './ui/Button';
@import './ui/Card';
@import './ui/Clickable';
@import './ui/ClickableIcon';
@import './ui/DropdownOptions';
@import './ui/FlashMessage';
@import './ui/FolderCard';
@import './ui/GridViewCard';
@import './ui/HorizontalNavbar';
@import './ui/Input';
@import './ui/List';
@import './ui/ListItem';
@import './ui/ModalWrapper';
@import './ui/Overlay';
@import './ui/Pill';
@import './ui/ProgressBar';
@import './ui/SearchBar';
@import './ui/Spinner';
@import './ui/TipBox';

body {
  position: relative;
  box-sizing: border-box;
  color: $text-color;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  min-height: 100vh;
  // TODO: Implement min-height restriction
  // min-height: $app-content-min-height;
  min-width: $app-content-min-width;
  overflow-x: hidden;
}

@include medium-viewport {
  font-size: 14px;
}

#app {
  // This lets #app be the same dimensions as the body
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
  a {
    text-decoration: none;
    &:hover, &:focus, &:active, &:visited {
      text-decoration: none;
    }
  }
}

// Make all placeholder `mark` tags a bit lighter
mark {
  background-color: $highlight-yellow-color;
}

// Make all successfully replaced specific placeholders a light blue
.everpresto-specific-placeholder {
  background-color: $highlight-blue-color;
}
// Make all successfully replaced specific placeholders a light green
.everpresto-general-placeholder {
  background-color: $highlight-green-color;
}

  
// Remove nasty autofill yellow on chrome
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
