// normalize.css
@import '../../.././node_modules/normalize.css/normalize.css';

//react-quill
@import '../../.././node_modules/react-quill/node_modules/quill/dist/quill.snow.css';

// my own SCSS helper file
@import './clarity';

// App
@import './app/AppHeader';
@import './app/DashboardNavbar';

// Date
@import './date/DateNavbar';

// Chat
@import './chat/ChatWindow';

//  Contacts
@import './contacts/ContactInviteField';
@import './contacts/ContactInviteForm';

// Groups
@import './groups/ActiveGroupContent';
@import './groups/GroupsController';
@import './groups/NewGroupForm';
@import './groups/GroupsHandler';

// Notes
@import './notes/NoteForm';
@import './notes/NewNoteForm';
@import './notes/NotesList';

// Timesheet
@import './timesheet/TimesheetHandler';
@import './timesheet/NewTimesheetForm';
@import './timesheet/PostTimesheetSubmissionView';
@import './timesheet/PreviousTimesheets';
@import './timesheet/TimesheetCard';
@import './timesheet/NewTimesheetButton';

// Shared
@import './shared/SearchBar';
@import './shared/FileUploader';
@import './shared/MultiselectField';
@import './shared/ContentEditable';
@import './shared/DropdownOptions';
@import './shared/SelectBox';
@import './shared/FullScreenModal';
@import './shared/BlendedInputField';
@import './shared/TextField';
@import './shared/InputField';
@import './shared/InputFieldLabel';
@import './shared/TimeTrackerField';
@import './shared/Spinner';
@import './shared/ExitFormIcon';

html {
  position: relative;
  height: 100vh;
}

body {
  position: relative;
  box-sizing: border-box;
  color: $text-color;
  font-family: 'Lucida Sans Unicode', helvetica, sans-serif;
  min-width: $app-content-min-width !important;
  height: 100%;
  font-weight: 400;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

// #app {
//   padding-bottom: 200px;
//   min-height: 100%;
//   height: auto;
// }

*, *:before, *:after {
  box-sizing: inherit;
  a {
    text-decoration: none;
    &:hover, &:focus, &:active, &:visited {
      text-decoration: none;
    }
  }
}

// CLASSES

.noscroll {
  overflow: hidden;
}

.active {
  color: $secondary-brand-color;
}

.button {
  @include text-shadow;
  @include button-style;  
  @include position-x(relative, 50%);
}

.inactive-button {
  background-color: lighten($light-text-color, 10%);
  &:hover {
    box-shadow: none;
    cursor: default;
  }
}

.invisible {
  color: transparent;
}

.content-container {  
  position: relative;
  margin: 0 auto;
  max-width: $app-content-max-width;
}

.title {
  position: relative;
  margin: 2rem auto;
  font-size: 2rem;
  color: $primary-brand-color;
  text-align: center;
}

.link {
  @include text-shadow;
  position: relative;
  text-decoration: none;
}

.pull-left {
  @include position-y(absolute, 50%);
  left: 3rem;
}

.pull-right {
  @include position-y(absolute, 50%);
  right: 3rem;
}

.tip-box {
  @include box-shadow;
  position: relative;
  margin: 2rem 0;
  padding: 1rem;
  color: $light-text-color;
  border: 1px solid $border-color;
  border-radius: 3px;
}

.error {
  color: $error-color;
}