.projects-wrapper {
  position: relative;
  header {
    position: relative;
    padding: 1rem 0;
    margin: 2rem 0;
    border-bottom: 1px solid $border-color;
    .new-project {
      @include pull-left-relative(50%);
      a {
        @include button-style;
        padding: 0.5rem 1rem;
        border-radius: $border-radius;
        svg {
          margin-top: -3px;
        }
      }
    }
    .sub-nav {
      @include pull-right-relative(50%);
      text-align: right;
      list-style: none;
      vertical-align: bottom;
      li {
        @include link-style;
        position: relative;
        display: inline-block;
        margin-left: 1rem;
      }
      .active-tab {
        color: $primary-brand-color;
      }
    }
  }
}