@import '../../../scss/colors.scss';
@import '../../../scss/extends.scss';

.main {
  @extend .grid-view;
}

.createIcon {
  @extend .center-absolute;
  color: $white;
  &:hover { color: $white }
}

.folder {
  margin: 20px;
  position: relative;
  &Content {
    color: $white;
    position: relative;
  }
}

.createTemplate {
  font-size: 18px;
  text-align: center;

  &Message {
    line-height: 25px;
    margin-bottom: 20px;
  }
}
