.LoginForm {
  @extend .center-absolute;
  width: 400px;
  height: 400px;

  &-title {
    font-family: 'Indie Flower', 'Roboto', sans-serif;
    text-align: center;
  }

  &-input,
  &-show-password {
    margin: 8px auto;
  }

  &-show-password {
    color: $text-color-light;
    display: block;
    font-size: 14px;
    text-align: center;
    & input {
      margin-right: 8px;
    }
  }

  &-footer {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    margin-top: 30px;
  }
}
