.RegistrationForm {
  position: relative;
  width: 600px;
  height: 700px;
  margin: 3rem auto 2rem auto;
  // Specify node as well so CSS takes precendence over the component's
  // original CSS
  div > &-card {
    position: relative;
    &-header {
      color: $brand-color-blue-dark;
      font-size: 32px;
      margin: 1rem auto;
      text-align: center;
    }
    &-input {
      color: $brand-color-blue-darker;
      margin: 2.5rem auto;
      width: 400px;
    }
    &-button {
      position: relative;
      margin: 4rem auto 5rem auto;
      padding: 1rem 2rem;
      width: 400px;
    }
  }

}