.new-timesheet-form-wrapper {
  @include modal-form-style;
  .form-title {
    @extend .text-shadow;
    position: relative;
    margin: 0.5rem 0 1.5rem 0;
  }
  .subform {
    position: relative;
    display: inline-block;
    padding: 1rem;
  }
  .subform-left {
    vertical-align: top;
    width: 40%;
  }
  .subform-right {
    width: 60%;
  }
  .clear-form-button {
    @include link-style;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }
}