.previous-timesheets-wrapper {
  padding: 0 2rem;
  .timesheets-container {
    position: relative;
    border: 1px solid $card-background-color;
    box-shadow: 0px 0px 8px -1px rgba(170,170,170,1);
    h2 {
      position: relative;
      text-align: center;
      color: $secondary-brand-color;
    }
    .no-timesheets-container {
      position: relative;
      margin: 4rem 0 6rem 0;
      text-align: center;
      color: $text-color-light;
    }
  }
}