.timesheet-card-wrapper {
  @extend .transition;
  position: relative;
  color: $light-text-color;
  margin: 1rem;
  padding: 1rem;
  background-color: $card-background-color;

  .options {
    position: absolute;
    top: 0;
    right: 1rem;
    list-style: none;
    z-index: 2; // so this is above the email field, and therefore will be clickable
    li {
      position: relative;
      display: inline-block;
      margin: 0 0.25rem;
      &:hover {
        cursor: pointer;
        color: $secondary-brand-color;
      }
    }
  }

  .left {
    @include pull-left-relative(40%);
    text-align: right;
    padding-right: 1rem;
    .time-display {
      -webkit-tranform: scaleY(1.3);
      transform: scaleY(1.3);
      span, small {
        margin: 1rem 0.1rem;
        color: $text-color;
      }
      span {
        font-size: 4rem;
      }
    }
  }

  .right { 
    @include pull-right-relative(60%);
    padding-left: 1.5rem;
    .employee-name {
      position: relative;
      font-size: 1.03rem;
      top: -5px;
      margin-bottom: 5px;
      word-wrap: break-word;
      color: $text-color;
    }
    .work-type, .note {
      position: relative;
      margin: 3px 0;
      word-wrap: break-word;
      font-size: 0.85rem;
    }
    .prefix {
      color: lighten($text-color, 5%);
      margin-right: 0.5rem;
    }
    .note {
      &:hover {
        cursor: pointer;
      }
    }
  }

}