.button {
  @extend .transition;
  background-color: $primary-brand-color;
  border-radius: 3px;
  border-style: none;
  color: #FFF;
  outline: none;
  position: relative;
  padding: 0.5rem 1rem;
  &:hover {
    box-shadow: -2px 3px 11px -3px rgba(0,0,0,0.75);
    cursor: pointer;
  }
  &-content {
    position: relative;
    &-inline {
      display: inline-block;
    }
    &-icon {
      position: relative;
      top: -2px;
    }
  }  
}