.active-group-content-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 54%;
  margin: 0;
  padding: 1.5rem 2rem;
  header {
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $border-color;
    .new-note {
      @include pull-left-relative(50%);
    }
    .search-bar-wrapper {
      @include pull-right-relative(50%);
      text-align: right;
      vertical-align: top;
    }
  }
}