.DocumentsNewTemplateSelectView {
  @include display(flex);
  @include flex-flow(column wrap);
  &-header {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    &-title {
      font-size: 24px;
      font-weight: 500;
    }
  }
  &-preview-card {
    &-options {
      @include display(flex);
      @include align-items(center);        
      @include justify-content(space-between);
      color: $text-color-light;
    }
  }  
}