.DocumentCollectionsIndex {

  &-create-template {
    font-size: 18px;
    text-align: center;
    width: 500px;
    &-message {
      line-height: 25px;
    }
    &-button {
      margin-top: 20px;
    }
  }

  &-folders {
    @include outer-container;
    margin: 0 auto;
    padding: 20px;
    &-folder {
      @include span-columns(3);
      @include omega(4n);
      margin: 20px;
      position: relative;
      &-main {
        position: relative;
        &-create-icon {
          @extend .center-absolute;
          color: #FFF;
        }
        &-options {
          background-color: red;
        }
      }
    }
  }

}