.DocumentsNewChooseTemplateView {
  &-header {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    &-title {
      color: $text-color-light;
      font-size: 18px;
      font-weight: 400;
      &-main {
        color: $text-color;
        font-size: 24px;
        margin-left: 8px;
      }
    }
  }
  &-templates {
    @extend .grid-view;
    &-template {
      position: relative;
      display: inline-block;
      &-options {
        @include display(flex);
        @include align-items(center);        
        @include justify-content(space-between);
        color: $text-color-light;
      }
    }
  }
  &-not-found {
    @extend .center-absolute;
  }
}