.DocumentCollectionsView {
  &-create-template {
    font-size: 18px;
    text-align: center;
    width: 500px;
    &-message {
      line-height: 25px;
    }
    &-button {
      margin-top: 20px;
    }
  }
}