.DocumentsNewEditorView {
  @include display(flex);
  @include flex-flow(column);
  &-header {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    // Makes sure the header doesn't shrink, not 0 by default for some reason
    @include flex-shrink(0);
    &-title {
      color: $text-color-light;
      font-size: 18px;
      font-weight: 400;
      &-main {
        color: $text-color;
        font-size: 24px;
        margin-left: 8px;
      }
    }
  }
  &-content {
    min-height: 100px;
    position: relative;
    @include flex-grow(1);
    @include display(flex);
    &-sidebar {
      @include flex-grow(6);
    }
    &-preview {
      @include flex-grow(2);
    }
  }
}