.DocumentsNewEditorView {
  @include display(flex);
  @include flex-flow(column wrap);
  &-header {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    &-title {
      color: $text-color-light;
      font-size: 18px;
      font-weight: 400;
      &-main {
        color: $text-color;
        font-size: 24px;
        margin-left: 8px;
      }
    }
  }
  &-content {
    @include flex-grow(1);
    @include display(flex);
    @include flex-flow(row no-wrap);
    &-preview {
      // @include flex-grow(1);
    }
    &-sidebar {
      @include flex-grow(1);
    }
  }
}