.DocumentsNewEditorView {
  @include display(flex);

  &-document {
    @include flex-grow(4);
    @include flex-shrink(0);
    @include display(flex);
    @include flex-direction(column);
    position: relative;
    &-title {
      @include display(flex);
      @include align-items(center);
      color: $text-color-light;
      font-size: 18px;
      font-weight: 400;
      height: 48px;
      margin-bottom: 20px;
      &-main {
        color: $text-color;
        font-size: 24px;
        margin-left: 8px;
      }
    }
    &-preview {
      @include flex-grow(1);
      min-width: 100%;
    }
  }

  &-sidebar {
    @include flex-grow(5);
    // General placeholders
    &-placeholders-general {
      list-style: none;
    }
    &-signer {
      @include display(flex);
      @include align-items(center);
      @include justify-content(space-between);
    }
    &-signers-list {
      // TODO: Make sure this scrolls and not the actual form
    }
  }

}