.main {
  height: 100%;
  width: 100%;
  position: relative;
}

.backgroundImage {
  display: block;
  height: 100%;
  max-width: 100%;
  width: auto;
}

.form {
  bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
