@import '../../../scss/colors.scss';

.main {
  position: relative;
  height: 100%;
  width: 100%;
}

.menuItem {
  border-left: 6px solid transparent;
  color: $brand-secondary;
  padding: 16px;
  text-decoration: none;
  font-weight: normal;

  &:hover {
    background-color: $brand-secondary-lighter;
  }

  &Active {
    border-left-color: $brand-primary-light;
    color: $brand-primary-light;
  }
}
