.TemplateCard {
  &-header {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    margin-top: 5px;
    margin-bottom: 5px;
    &-title {
      margin: 0;
      height: 100%;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &-body {
    @include filter(blur(1px));
    color: $text-color-light;
    font-size: 10px;
    height: 211px;
    overflow: hidden;
    padding: 8px;
    // Makes sure that no HTML elements created by the Rich Text editor will have a margin top or bottom
    // when displayed, otherwise text looks weird disproportionate
    & > * {
      margin-top: 0;
      margin-bottom: 0;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &-options {
    position: relative;
    margin-top: 5px;
    height: 24px;
  }
  &-new-button {
    @extend .center-absolute;
    @extend .transition;
  }
}