$template-preview-card-dropdown-height: 110px;

@include keyframes(pop-in-up) {
  0% {
    opacity: 0;
    overflow: hidden;
    height: 0px;
  }
  30% { opacity: 1; }
  60% { height: $template-preview-card-dropdown-height + 30px; }
  80% { height: $template-preview-card-dropdown-height - 10px; }
  100% { height: $template-preview-card-dropdown-height; }
}

.TemplatePreviewCard {
  &-options {
    position: absolute;
    bottom: 15px;
    right: 20px;
  }
  div > &-dropdown {
    @include animation(pop-in-up 300ms ease-in-out);
    position: absolute;
    bottom: 15px;
    left: 15px;
    height: $template-preview-card-dropdown-height;
    width: 100px;
  }
}