.TemplatePreviewCard {
  min-height: 300px;
  max-height: 300px;
  &-header {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    &-title {
      margin: 0;
      height: 100%;
    }
    &-button {
      @include transition(all 200ms ease);
      color: $placeholder-color;
      &:hover {
        color: $primary-brand-color;
        cursor: pointer;
      }
    }
  }
  &-body {
    // @include filter(blur(1px));
    color: $text-color-light;
    overflow: hidden;
    font-size: 10px;
  }
}