$template-preview-card-dropdown-height: 110px;

@include keyframes(pop-in-up) {
  0% {
    opacity: 0;
    overflow: hidden;
    height: 0px;
  }
  30% { opacity: 1; }
  60% { height: $template-preview-card-dropdown-height + 30px; }
  80% { height: $template-preview-card-dropdown-height - 10px; }
  100% { height: $template-preview-card-dropdown-height; }
}

.TemplatePreviewCard {
  position: relative;
  min-height: 300px;
  max-height: 300px;
  &-header {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    margin-top: 5px;
    &-title {
      margin: 0;
      height: 100%;
    }
  }
  &-body {
    @include filter(blur(1px));
    color: $text-color-light;
    font-size: 10px;
    height: 211px;
    overflow: hidden;
    padding: 8px;
  }
  &-options {
    position: absolute;
    bottom: 15px;
    right: 20px;
  }
  div > &-dropdown {
    @include animation(pop-in-up 300ms ease-in-out);
    position: absolute;
    bottom: 15px;
    left: 15px;
    height: $template-preview-card-dropdown-height;
    width: 100px;
  }
}