.TemplatesIndex {
  @extend .grid-view;

  &-templates {
    padding: 20px;
    &-new {
      position: relative;
      &-button {
        @extend .center-absolute;
        @include transition(all 200ms ease);
        top: 45%;
        outline: none;
        background-color: transparent;
        border: none;
        color: $placeholder-color;
        &:hover {
          color: $primary-brand-color;
        }
      }
    }
  }

}