.ModalFillPlaceholders {
  position: relative;
  overflow-x: hidden;
  .DashboardMessage {
    @include transform(translate(-50%, -50%));
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
  }

  &-mapping-section {
    &-assigned-headers {
      @include display(flex);
      @include flex-wrap(wrap);
      @include align-content(flex-start);
      list-style: none;
      padding: 12px;
    }
    &-list-item {
      // TODO: Make sure list item content is spread out evenly
      @include display(flex);
      @include justify-content(space-between);
      @include align-items(center);
      margin: 8px;
    }
  }
}