.ModalCreatePlaceholder {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  height: 100%;
  &-demo-section {
    &-heading {
      // Removes the top margin of the header
      margin-top: 0;
    }
    &-heading,
    &-description {
      text-align: center;
    }
  }
  // Using `div >` overrides the original styles on the ui Input component
  div > &-input-section {
    margin: 0 auto;
    &-input-field {
      position: relative;
      display: inline-block;
      margin: 8px;
      width: 225px;
    }
    &-save-button {
      margin: 30px auto;
      width: 300px;
    }
  }
}