.ModalConfirm {
  @include display(flex);
  @include flex-flow(column wrap);
  @include justify-content(space-around);
  &-content {
    background-color: yellow;
  }
  &-button-group {
    margin: 0 auto;
    &-button {
      margin: 20px 10px;
    }
  }
}