.new-project-form-wrapper {
  @include position-center(absolute, 50%, 50%);
  @include box-shadow;
  background-color: $form-background-color;
  height: 500px;
  width: 850px;
  padding: 1rem;
  .title-input {
    @include transition;
    position: relative;
    margin: 0;
    min-width: 150px;
    padding: 1rem;
    outline: none;
    &:focus {
      border-bottom: 1px solid $primary-brand-color;
    }
  }
}