.new-project-form-wrapper {
  @include position-center(absolute, 50%, 50%);
  @include box-shadow;
  background-color: $form-background-color;
  height: 500px;
  width: 850px;
  padding: 1rem;

  .title-input {
    margin-left: 0.5rem;
    font-size: 2.25rem;
    max-width: 80%;
  }

  .left-content {
    @include pull-left-relative(55%);
    padding: 1.5rem;
    .budget-label {
      position: relative;
      display: inline-block;
    }
    .budget-input {
      @include input-field-style;
      position: relative;
      display: inline-block;
      width: 150px;
      margin: 0 0.25rem;
    }
  }

  .right-content {
    @include pull-right-relative(45%);
    padding: 1.5rem;
  }
  
}