.new-note-form {
  @include modal-form-style;
  &-footer {
    position: relative;
    &-file-uploader {
      display: inline-block;
      width: 80%;
    }
    &-submit-button {
      display: inline-block;
      position: relative;
    }
  }
}