.note-form-wrapper {
  position: relative;
  font-weight: lighter;

  .quill {
    margin-bottom: 2rem;
    .note-title {
      margin: 0.5rem 0;
      font-size: 1.8rem;
    }
    .ql-editor { 
      @extend .transition;
      font-size: 18px;
      min-height: 200px;
      padding: 0.3rem;
      // mock placeholder for react quill
      &:empty:before {
        content: 'Start typing here...';
        color: $placeholder-color;
      }
    }

    //styles for linking text
    .ql-link-tooltip {
      padding: 1rem;
      font-size: 14px;
      .title {
        color: $text-color;
        font-size: 14px;
        font-weight: bolder;
      }
      .input {
        @include input-field-style;
      }
      .done, .change, .remove {
        font-size: 14px;
        font-weight: bolder;
        color: $primary-brand-color;
        &:hover {
          color: $secondary-brand-color;
        }
      }
    }

    .quill-contents {
      padding: 0.3rem;
    }
    .quill-toolbar {
      padding: 0.3rem;
      margin-bottom: 0.5rem;
    }
  }

}