.note-form-wrapper {
  position: relative;
  font-weight: lighter;

  .quill {
    margin-bottom: 2rem;
    .note-title {
      margin: 0.5rem 0;
      font-size: 1.8rem;
    }
    .ql-editor { 
      @include transition;
      font-size: 18px;
      min-height: 200px;
      padding: 0.3rem;
      // mock placeholder for react quill
      &:empty:before {
        content: 'Start typing here...';
        color: $placeholder-color;
      }
    }
    .quill-contents {
      padding: 0.3rem;
    }
    .quill-toolbar {
      padding: 0.3rem;
      margin-bottom: 0.5rem;
    }
  }

}