.date-navbar {
  position: relative;
  width: 100%;
  height: 70px;
  margin: 2.5rem 0;
  border-bottom: 2px solid $card-background-color;
  .navbar-content {
    position: relative;
    width: 700px;
    bottom: 0.25rem;
    text-align: center;
    margin: 0 auto;
    .calender-icon-container {
      @extend .transition;
      position: relative;
      display: inline-block;
      top: -3px;
      right: 1rem;
      &:hover {
        color: $secondary-brand-color;
        cursor: pointer;
      }
    }
    .calender-container {
      position: relative;
      display: inline-block;
      width: 270px;
    }
    .week-being-viewed {
      @extend .transition;
      position: relative;
      display: inline-block;
      &:hover {
        color: $secondary-brand-color;
        cursor: pointer;
      }
    }
    .week {
      position: relative;
      display: inline-block;
      list-style: none;
      left: 1rem;
      li {
        display: inline-block;
        margin: 0 0.5rem;
        color: $light-text-color;
        &:hover {
          color: $primary-brand-color;
          cursor: pointer;
        }
      }
      .active-day { 
        color: $secondary-brand-color;
        &:hover {
          color: $secondary-brand-color;
          cursor: default;
        }
      }
    }
  }
  .prev-week, .next-week {
    @extend .transition;
    color: lighten($light-text-color, 15%);
    &:hover { 
      color: $primary-brand-color;
      cursor: pointer;
    }
  }
  .prev-week { left: 0; }
  .next-week { right: 0; }
}