label {
  @include transition;
  @include label-style;
  position: relative;
  display: block;
}

.input-field-error {
  @include label-style;
  color: $error-color;
}

.shrinked-label {
  color: transparent;
}