.app-header {
  position: relative;
  padding: 0;
  margin: 0;
  background-color: $primary-brand-color;
  height: $app-header-height;

  // This is so that certain AppHeader elements such as DropdownOptions are infront of the any Dashboard item
  z-index: 2;

  &-logo {
    @extend .text-shadow;
    font-size: 1.8rem;
    font-weight: 600;
    color: #FFF;
    &-icon {
      height: 2.2rem; 
      width: 2.2rem;
      margin-top: -5px;
      margin-right: 10px;
    }
  }

  &-nav {
    &-profile-pic {
      width: 30px;
      height: 30px;
      border-radius: $border-radius;
      vertical-align: middle;
      margin-right: 1rem;
    }
    &-user-email {
      @extend .text-shadow;
      color: $white;
      &:hover {
        cursor: pointer;
      }
    }
    &-profile-dropdown-options {
      position: absolute;
      width: 150px;
      right: 0;
      top: 0.7rem;
    }
  }

}