.app-header-wrapper {
  position: relative;
  padding: 0;
  margin: 0;
  background-color: $primary-brand-color;
  height: 70px;
  .logo {
    @include text-shadow;
    font-size: 1.8rem;
    font-weight: 600;
    color: #FFF;
    svg {
      margin-top: -5px;
      margin-right: 10px;
    }
  }
  .pull-right {
    img {
      width: 30px;
      height: 30px;
      border-radius: $border-radius;
      vertical-align: middle;
      margin-right: 1rem;
    }
    .user-email {
      @include text-shadow;
      color: $white;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .dropdown-options {
    position: absolute;
    width: 150px;
    right: 1.5rem;
    top: 2rem;
  }
}