.new-article-form-wrapper {
  @include modal-form-style;
  .dropzone {
    position: relative;
    height: 100px;
    width: 100px;
    border: 2px dashed black;
    p {
      @include position-center(absolute, 50%, 50%);
      height: 80px;
      width: 80px;
      font-size: 0.8rem;
      text-align: center;
    }
  }
}