.new-article-form-wrapper {
  @include modal-form-style;
  font-weight: lighter;
  .article-title {
    margin: 0.5rem 0;
    font-size: 1.8rem;
  }
  .article-description {
    font-size: 1.2rem;
  }
}