.DashboardQuote {
  color: $placeholder-color;
  width: 70%;
  &-quote {
    &:hover {
      cursor: default
    }
    text-align: center;
    &-message {
      font-size: 1.25rem;
      margin-top: 0;
    }
    &-author {
      font-size: 1rem;
    }
  }
}