.DashboardHeader {
  background-color: $brand-color-yellow;
  color: #FFF;
  height: $app-header-height;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;

  // This is so that certain AppHeader elements such as DropdownOptions are infront of the any Dashboard item
  z-index: 2;

  button {
    position: relative;
  }
  
  &-navbar {
    display: flex;
    justify-content: space-between;
    height: 100%;
    position: relative;
    padding: 10px 20px;
    &-logo {
      display: flex;
      font-family: 'Indie Flower', 'Roboto', sans-serif;
      justify-content: center;
      margin: 0;
      &:hover {
        cursor: pointer;
      }
    }
    &-logo,
    &-nav {
      position: relative;
      display: inline-block;
    }
    &-nav {
      align-items: center;
      display: flex;
      &-profile-pic {
        width: 30px;
        height: 30px;
        border-radius: $border-radius;
        vertical-align: middle;
        margin-right: 1rem;
      }
      &-profile-name {
        @extend .text-shadow;
        color: #FFF;
        margin-right: 1rem;
        &:hover {
          cursor: pointer;
        }
      }
      &-profile-dropdown {
        z-index: 3;
      }
    }
  }

}
