.DashboardContentWrapper {
  position: relative;
  flex: 1 1 auto;

  &-progress-bar {
    position: absolute;
    top: 0;
  }

  &-progress-bar-filler {
      // This is a filler space for the progress bar in any Dashboard view
      // for when the progress bar is not present, that way we don't have a
      // sudden increase in height when the progress bar does appear
      height: 6px;
      width: 100%;
    }
   

  &-content {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding-top: 16px;
    width: 100%
  }

}
