.DashboardQuote {
  color: $placeholder-color;
  width: auto;
  &-quote {
    @include display(flex);
    @include flex-flow(column wrap);
    &-message {
      font-size: 1.25rem;
      margin-top: 0;
      position: relative;
      text-align: center;
    }
    &-author {
      font-size: 1rem;
      position: relative;
      margin-left: auto;
      margin-right: 0;
    }
  }
}