$app-header-height: 70px;

.DashboardHeader {
  position: relative;
  padding: 0;
  margin: 0;
  background-color: $brand-color-yellow;
  line-height: $app-header-height;
  height: $app-header-height;

  // This is so that certain AppHeader elements such as DropdownOptions are infront of the any Dashboard item
  z-index: 2;

  &-logo {
    @extend .text-shadow;
    margin-left: 20px;
  }

  &-nav {
    &-profile-pic {
      width: 30px;
      height: 30px;
      border-radius: $border-radius;
      vertical-align: middle;
      margin-right: 1rem;
    }
    &-user-email {
      @extend .text-shadow;
      color: $white;
      &:hover {
        cursor: pointer;
      }
    }
    &-profile-dropdown-options {
      position: absolute;
      width: 150px;
      right: 0;
      top: 0.7rem;
    }
  }

}