.DashboardMessage {
  position: relative;
  color: $text-color-light;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  &-content {
    @include translate-pos(40%, 50%);
    position: absolute;
    width: 100%;
    &-center {
      text-align: center;
    }
  }
}