.DashboardHeader {
  position: relative;
  padding: 0;
  margin: 0;
  background-color: $brand-color-yellow;
  height: $app-header-height;
  width: 100%;
  color: #FFF;

  // This is so that certain AppHeader elements such as DropdownOptions are infront of the any Dashboard item
  z-index: 2;

  button {
    position: relative;
  }
  
  &-navbar {
    @include display(flex);
    @include justify-content(space-between);
    height: 100%;
    position: relative;
    padding: 10px 20px;
    &-logo {
      @include display(flex);
      @include justify-content(center);
      margin: 0;
      font-family: 'Indie Flower', 'Roboto', sans-serif;
    }
    &-logo,
    &-nav {
      position: relative;
      display: inline-block;
    }
    &-nav {
      @include display(flex);
      @include align-items(center);
      align-items: center;
      &-profile-pic {
        width: 30px;
        height: 30px;
        border-radius: $border-radius;
        vertical-align: middle;
        margin-right: 1rem;
      }
      &-profile-name {
        @extend .text-shadow;
        margin-right: 1rem;
        &:hover {
          cursor: pointer;
        }
      }
      &-profile-dropdown {
        z-index: 3;
      }
    }
  }

}