.DashboardQuote {
  color: $placeholder-color;
  width: 70%;
  &-quote {
    text-align: center;
    &-message {
      font-size: 1.25rem;
      margin-top: 0;
      position: relative;
    }
    &-author {
      font-size: 1rem;
      position: relative;
    }
  }
}